*{
    background-color: coral;
    color: white;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 80;
    font-size: 2em;
    text-transform: uppercase;
  }

  .wrapper{
    text-align: center;
  }

  button{
    border: 1px solid;
    padding: 18px 10px;
    width: 150px;
    margin: 10px;
    cursor: pointer;
    font-size: large;
  }
    button:hover{
        border: 1px, solid white;
        background-color: white;
        color: coral;
    }


#seconds, #tens{
  font-size:2em;
}